<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ChatsUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <ChatsUp.Properties.Settings>
      <setting name="Password" serializeAs="String">
        <value>XHYG-FH56-F2D0-R1T5-LENS</value>
      </setting>
      <setting name="Product_Key" serializeAs="String">
        <value>No</value>
      </setting>
    </ChatsUp.Properties.Settings>
  </userSettings>
</configuration>